---
import Layout from '../../../layouts/Layout.astro';
import Toolbar from '../../../components/Toolbar.astro';
import ArrowBack from '../../../../public/icons/arrowBack.astro'
import { db, eq, Categoria, Cuento} from 'astro:db';

export async function getStaticPaths()  {
    const cuentos = await db.select().from(Cuento)    
    return cuentos.map(cuento =>{
        return {
            params: {nombreCuento: cuento.nombre},            
        }
    });
} 
const {nombreCuento} = Astro.params
const cuentoElegido =  await db.select().from(Cuento).innerJoin(Categoria, eq(Cuento.categoria, Categoria.id)).where(eq (Cuento.nombre, nombreCuento));

console.log(cuentoElegido.length)
---
<Layout title= {nombreCuento}>
	<Toolbar />	
	<section>		
		{cuentoElegido.length !== 0
		?
		cuentoElegido?.map(({ Cuento , Categoria })=>{							
			return (			
				<h2 class="text-slate-900 font-extrabold text-2xl sm:text-5xl lg:text-4xl tracking-tight text-center mt-20">{Cuento.nombre}</h2>
				<article class="grid grid-cols-2 justify-center mt-20 border rounded-md drop-shadow-lg w-11/12">
					<div class="h-full">
						<div class=" h-full">
							<figure class="flex items-center m-1 h-full">
									<img class="w-11/12 h-11/12 rounded-md mb-1 ml-2" src= "/cerditos.png" alt={Cuento.nombre}/>
							</figure> 
						</div>
					</div>
					<div class="grid items-center m-1 h-10/12">
						<div class="">
							<h6 class="font-bold text-sm mt-1 mx-2">Nombre:</h6>
							<p class="ml-12 text-sm">{Cuento.nombre}</p>
						</div>
						<div class="">
							<h6 class="font-bold text-sm  mx-2">Autora o Autor:</h6>
							<p class="ml-12 text-sm">{Cuento.autor}</p>
						</div>
						<div class=" ">
							<h6 class="font-bold text-sm  mx-2">Editorial:</h6>
							<p class="ml-12 text-sm">{Cuento.editorial}</p>
						</div>
						<div class=" ">
							<h6 class="font-bold text-sm  mx-2">Año:</h6>
							<p class="ml-12 text-sm">{Cuento.anyo}</p>
						</div>
						<div class=" ">
							<h6 class="font-bold text-sm  mx-2">Categoría:</h6>
							<p class="ml-12 text-sm">{Categoria.nombre}</p>
						</div>
						<div class=" ">
							<h6 class="font-bold text-sm  mx-2">Añadido por:</h6>
							<p class="ml-12 text-sm">{Cuento.anyadidoPor}</p>
						</div>
						{Cuento.prestadoA !==""
							?
							<div class="">
								<h6 class="font-bold text-sm  mx-2">Prestado a:</h6>
								<p class="ml-12 text-sm">{Cuento.prestadoA}</p>
							</div> 
							: 
							<div class="hidden"></div>
						}						
					</div>
				</article>				
				<div class="flex flex-nowrap justify-end mt-4 w-11/12">
					<span class="flex items-center hover:bg-red-300 rounded-md">				         
						<a href={`/cuento/modificar/cuentoBiblioteca/${Cuento.id}`} target="_self" rel="noopener noreferrer nofollow" class="ml-1 text-lg underline">Modificar</a>
					</span>					
				</div>
			)				
		})
		:
		<div class="flex flex-nowrap justify-center mt-10">
			<h2 class="text-black p-1 border border-red-400 bg-red-300">Sin resultados</h2>
		</div>
	}	

		<div class="flex flex-nowrap justify-center mt-10">
			<span class="flex items-center w-24 hover:bg-green-300 rounded-md">						  
				<a href="/" target="_self" rel="noopener noreferrer nofollow" ><ArrowBack /></a>         
				<a href="/"target="_self" rel="noopener noreferrer nofollow" class="ml-1">Volver</a>
			</span>					
		</div>
	</section>

</Layout>