---
import Layout from '../layouts/Layout.astro';
import Toolbar from '../components/Toolbar.astro';
import { db, Cuento, Categoria, eq } from 'astro:db';


 const categorias = await db.select().from(Categoria);
 
// const cuentosCat = await db.select().from(Cuento).where(eq (Cuento.categoria, categoria))
//const cuentos = await db.select().from(Cuento).innerJoin(Categoria, eq(Cuento.categoria, Categoria.id));
---

<Layout title="El museo del cuento - Categorías">
    
        <Toolbar />		
		<section class="grid place-items-center h-10/12">
			<div class="wrapper w-2/5">
				{categorias.map((cat) => 				
					<div class="tab px-2 bg-white shadow-sm rounded-md relative te items-center border-solid hover:bg-green-300 text-black">
						<input class="appearance-none peer" type="radio" name="cat" id={cat.id} data-categoria-id={cat.id}/>
						<label class="flex items-center text-base font-semibold cursor-pointer
						after:absolute after:text-lg
						after:text-gray-500 hover:after:text-gray-800 peer-checked:after:transform peer-checked:after:rotate-45" for={cat.id}>
							<h3>{cat.nombre}</h3>
						</label>
						<div class="answer mt-5 h-0 overflow-hidden transition ease-in-out duration-500 peer-checked:h-full" id={`div${cat.id}`}></div>
					</div>	
				)}
			</div>			
		</section>		
    
</Layout>

<script>
	const buttonCategoria = document.querySelectorAll("input")	
	let idDivSeleccionado : string	
	buttonCategoria.forEach((ele)=>{
		const { categoriaId } = ele.dataset		
		ele.onclick = () =>{
			if(categoriaId)	
			idDivSeleccionado = categoriaId
			const cuentosCategoria = document.getElementById(`div${idDivSeleccionado}`)	
			
			if(cuentosCategoria?.firstChild)			
			while (cuentosCategoria.firstChild) {
				cuentosCategoria.removeChild(cuentosCategoria.firstChild);
			}						

			fetch (`/api/categorias/${categoriaId}`, {
				method: "POST",
				headers:{
					"Content-Type": "application/json",
				},		
				body: JSON.stringify({categoriaId}),
			})
			.then(res => res.json())
			.then(response =>{
				const cuentos = response.cuento		
				const divCuentos = document.createElement("div")		
				for (let index = 0; index < cuentos.length; index++) {	
					let div = document.createElement("div")	
					div.classList.add("flex")
					div.classList.add("justify-between")

					let p = document.createElement("p")	
					let form = document.createElement("form")
					let inputNombre = document.createElement("input")
					let inputTipoCuento = document.createElement("input")
					let button = document.createElement("button")
					let iconBook = document.createElement("img")
					iconBook.src= "/favicon.svg"

					inputNombre.classList.add("hidden")
					inputTipoCuento.classList.add("hidden")
					inputNombre.type="text"
					inputTipoCuento.type="text"
					inputNombre.name="nombre"
					inputTipoCuento.name="busquedaCuento"
					inputNombre.value= cuentos[index].nombre
					inputTipoCuento.value= "Cuento"

					button.type="submit"
					button.appendChild(iconBook)					

					form.action="/cuentoInfo"
					form.method="POST"	
					form.appendChild(inputNombre)
					form.appendChild(inputTipoCuento)
					form.appendChild(button)
					p.appendChild(document.createTextNode(cuentos[index].nombre))	
					div.appendChild(p)	
					div.appendChild(form)				
					divCuentos?.appendChild(div)					
				}				
				cuentosCategoria?.appendChild(divCuentos)
			})	
			
		}
	})		
</script>