---
import { db, CuentoDeseado, Cuento } from 'astro:db';
import Book from '../../public/icons/book.astro'

interface Props {
	tipoCuento: string;  
}
const { tipoCuento } = Astro.props;
let cuentos

if(tipoCuento === "CuentoDeseado"){
     cuentos = await db.select().from(CuentoDeseado);
}else if(tipoCuento === "Cuento"){
     cuentos = await db.select().from(Cuento);
}
---

<table class="w-full m-5 table-auto border-separate border-spacing-2 border border-slate-500">
    <thead class="border-colapse border-2">
        <tr>
            <th class="border border-slate-600">Portada</th>
            <th class="border border-slate-600">Nombre</th>
            <th class="border border-slate-600">Autora / Autor</th>
            <th class="border border-slate-600">Editorial</th>            
            <th class="border border-slate-600">Ver</th>            
        </tr>
    </thead>
    <tbody class="border-colapse border-2">       
        {cuentos?.map((cuento)=>{
            return <tr>                
                        <td class="border border-slate-700 flex justify-center">
                            <figure class="w-28 m-1">
                                <img src= {cuento.portada} alt={cuento.nombre}/>
                            </figure>                           
                        </td>
                        <td class="border border-slate-700"><div class="flex justify-center">{cuento.nombre}</div></td> 
                        <td class="border border-slate-700"><div class="flex justify-center">{cuento.autor}</div></td> 
                        <td class="border border-slate-700"><div class="flex justify-center">{cuento.editorial}</div></td>
                        <td class="border border-slate-700"><button data-cuento-id id={cuento.id}><Book/></button></td>
                    </tr>                           
        })}    
    </tbody>
</table>


