---
import { db, CuentoDeseado, Cuento } from 'astro:db';
import Book from '../../public/icons/book.astro'

interface Props {
	tipoCuento: string;  
}
const { tipoCuento } = Astro.props;
let cuentos

if(tipoCuento === "CuentoDeseado"){
     cuentos = await db.select().from(CuentoDeseado);
}else if(tipoCuento === "Cuento"){
     cuentos = await db.select().from(Cuento);
}
---

<table class="w-full m-5 table-auto border-separate border-spacing-2 border border-slate-500 text-sm">
    <thead class="">
        <tr>
            <th class="">Portada</th>
            <th class="">Nombre</th>
            <th class="">Autora / Autor</th>
            <th class="">Editorial</th>            
            <th class="">Ver</th>            
        </tr>
    </thead>
    <tbody class="">       
        {cuentos?.map((cuento)=>{
            return <tr>                
                        <td class="flex justify-center">
                            <figure class="w-20 m-1">
                                <img src= {cuento.portada} alt={cuento.nombre}/>
                            </figure>                           
                        </td>
                        <td class=""><div class="flex justify-center">{cuento.nombre}</div></td> 
                        <td class=""><div class="flex justify-center">{cuento.autor}</div></td> 
                        <td class=""><div class="flex justify-center">{cuento.editorial}</div></td>
                        <td class="">
                            {tipoCuento === "Cuento"
                                ?
                                <div class="flex justify-center">                           
                                    <form method="POST" action={`/cuento/${cuento.nombre}`}>
                                        <input type="text"  name="nombre" value={cuento.nombre} class="hidden">
                                        <input type="text" name="busquedaCuento" value={tipoCuento} class="hidden">
                                    <button data-cuento-id id={cuento.id} type="submit"><Book/></button>
                                    </form>
                                </div>
                                :
                                <div class="flex justify-center">                           
                                    <form method="POST" action={`/deseado/${cuento.nombre}`}>
                                        <input type="text"  name="nombre" value={cuento.nombre} class="hidden">
                                        <input type="text" name="busquedaCuento" value={tipoCuento} class="hidden">
                                    <button data-cuento-id id={cuento.id} type="submit"><Book/></button>
                                    </form>
                                </div>
                            }
                        </td>
                    </tr>                            
        })}    
    </tbody>
</table>


