---
import Layout from '../../layouts/Layout.astro';
import Toolbar from '../../components/Toolbar.astro';
import { db, Cuento, isDbError, Categoria, eq } from 'astro:db';
import mod from 'astro/zod';
import Categorias from '../categorias.astro';
export const prerender = false;

export async function getStaticPaths()  {
    const cuentos = await db.select().from(Cuento)
    
    return cuentos.map(cuento =>{
        return {
            params: {id: cuento.id},            
        }
    });
} 
const {id} = Astro.params

const categoria = await db.select().from(Categoria);

const cuentoElegido =  await db.select().from(Cuento).innerJoin(Categoria, eq(Cuento.categoria, Categoria.id)).where(eq (Cuento.id, id));

let prestado: boolean

if (Astro.request.method === 'POST') {    
  const formData: FormData = await Astro.request.formData(); 
  const portada = formData.get('portada'); 
  const nombre = formData.get('nombre');
  const autor = formData.get('autor');
  const editorial = formData.get('editorial');
  const anyo = formData.get('anyo');
  const categoria = formData.get('categoria');
  const anyadidoPor = formData.get('quienLoAnyade');
  const quienLoTiene = formData.get('quienLoTiene');
  const estaPrestado = formData.get('estaPrestado');
  let prestadoA = formData.get('personaPrestado');   
  
  try{		
      if (typeof portada === 'string' && typeof nombre === 'string' && typeof autor === 'string' && typeof editorial === 'string' && typeof anyo === 'string' && typeof categoria === 'string' && typeof anyadidoPor === 'string' && typeof quienLoTiene === 'string' && typeof estaPrestado === 'string' && typeof prestadoA === 'string') {
            prestado = estaPrestado == "true" ? true : false
            prestado ? prestadoA : prestadoA=""	
		    await db.update(Cuento).set({ id:id, portada:portada, nombre:nombre, autor:autor, editorial:editorial, anyo:anyo, categoria:categoria, anyadidoPor:anyadidoPor, quienLoTiene:quienLoTiene, prestado:prestado, prestadoA:prestadoA }).where(eq (Cuento.id, id)) 
            location.href="/"                    
		}
	}catch(e){
		if (isDbError(e)) {
			return new Response(e);
		}
	}
} 
---
<Layout title= `Modificar datos`>
    <Toolbar />	

    <section>		
        <form method="POST" class="grid space-y-2 text-base" id="formLibro">
            {cuentoElegido?.map(({ Cuento, Categoria })=>{		
                return(
                        <label for="portada">Imagen portada (copia enlace)</label>
                        <input type="text" name="portada" value={`${Cuento.portada}`}>
                        <label for="nombre">Nombre del cuento</label>
                        <input type="text" name="nombre" value={`${Cuento.nombre}`}>
                        <label for="autor">Autora o autor</label>
                        <input type="text" name="autor" value={`${Cuento.autor}`}>
                        <label for="editorial">Editorial</label>
                        <input type="text" name="editorial" value={`${Cuento.editorial}`}>
                        <label for="anyo">Año</label>
                        <input type="text" name="anyo" value={`${Cuento.anyo}`}>
                        <label for="categoria">Categoría</label>
                        <select name="categoria" id="categoria">
                            <option value={`${Cuento.categoria}`} selected>{`${Categoria.nombre}`}</option>
                            {
                                categoria.map((cat)=>{
                                    return(                    
                                        <option value={cat.id}>{cat.nombre}</option>                 
                                    )             
                                })
                            }
                        </select>        
                        <label for="quienLoAnyade">Añadido por</label>
                        <input type="text" name="quienLoAnyade" value={`${Cuento.anyadidoPor}`}>  
                        <label for="quienLoTiene">Quien lo tiene</label>
                        <input type="text" name="quienLoTiene" value={`${Cuento.quienLoTiene}`}> 

                        
                        <label for="estaPrestado">Prestado</label>    
                           
                            
                        <input type="text" name="estaPrestado" value={`${Cuento.prestado}`}> 

                        <div id="aQuienEstaPrestado" class="">
                            <span class="grid space-y-2">
                                <label for="personaPrestado">¿A quién?</label>
                                <input type="text" name="personaPrestado" value={`${Cuento.prestadoA}`}>
                            </span>
                        </div>
            <div class="flex flex-wrap justify-center mt-10">        
                <input class="submit text-lg hover:bg-green-300 rounded-md" type="submit" value="Modificar" id="mod">        
            </div>             
                )                
            })}		
        </form>
        {cuentoElegido?.map(({ Cuento })=>{	
            return(
                <div class="flex justify-center bg-blue-500 hover:bg-blue-300 rounded-md">                           
                        <form method="POST" action="/cuentoInfo">
                            <input type="text"  name="nombre" value={Cuento.nombre} class="hidden">
                            <input type="text" name="busquedaCuento" value="Cuento" class="hidden">
                        <button data-cuento-id id={Cuento.id} type="submit">Volver</button>
                        </form>
                    </div>
            )                
        })}	
</Layout>

<style>
    input, select {
        color:black; 
        border: 1px solid #000000;
        border-radius: 5px;    
        padding: 2px;
        padding-left: 4px;    
    }
    .submit{   
        border-style: none ;   
        text-decoration: underline;
        padding: 3px;
        margin: 20px;
        color: black;
        width: 80px;		
    }
    </style>
    <script>
        const buttonMod = document.getElementById("mod")        
        buttonMod?.addEventListener("click", function(){
            location.href="/"
	    })
        
    </script>